@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;

  &_withoutFooter{
    grid-template-rows: auto 1fr;
  }

  &__navigation {
    width: 100%;
  }

  &__content {
    width: 1700px;
    margin: 50px auto;

    @include mediaMinMax(1025, $normal) {
      width: vw-full(1700);
      margin: vw-full(50) auto;
    }

    @include media($small) {
      width: 100%;
      margin: 30px auto;
      padding: 0 20px;
    }
  }
}
