$white-color: #FFFFFF;
$black-color: #000000;
$transparency-color: rgba(0, 0, 0, 0.75);
$athens-gray-color: #E4E6ED;
$pickled-bluewood-color: #0375c9;
$gull-gray-color: #A0ADB7;
$gray-light-color: #e5e9ea;
$catskill-white-color: rgba(251, 252, 253, 0.74);
$darker-cadet-blue-color: #ABB6BF;
$burnt-sienna-color: #EA695D;
$cadet-blue-color: #A6BAC6;
$error-red-color: #ff0b51;

