@import 'src/styles/variables.scss';
@import 'src/styles/media.scss';

.company-card {
  width: 500px;
  min-height: 400px;
  max-height: 340px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: #262D39;
  color: $catskill-white-color;
  gap: 20px;
  border-radius: 25px;
  box-shadow: 8px 8px 12px 0 rgba(9,13,20,0.4),-4px -4px 8px 0 rgba(224,224,255,0.04),0 1px 1px 0 rgba(9,13,20,0.4);
  position: relative;
  z-index: 1;

  @include mediaMinMax(1025, $normal) {
    width: vw-full(500);
    min-height: vw-full(400);
    max-height: vw-full(340);

    gap: vw-full(15);
    border-radius: vw-full(25);
  }

  &__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    border-radius: 25px;

    @include mediaMinMax(1025, $normal) {
      border-radius: vw-full(25);
    }
  }

  &__image {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
    z-index: 2;
    justify-self: center;
    margin: 0 auto;
    border-radius: 25px;

    @include mediaMinMax(1025, $normal) {
      border-radius: vw-full(25);
    }
  }

  &__insteadOfImage {
    width: 100%;
    height: 250px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-17deg);
    font-size: 22px;
    color: $catskill-white-color;


    @include mediaMinMax(1025, $normal) {
      font-size: vw-full(22);
      height: vw-full(250);
      border-radius: vw-full(25);
    }
  }

  &__wrapper-info {
    padding: 0 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-grow: 1;
    justify-content: space-between;
    @include mediaMinMax(1025, $normal) {
      gap: vw-full(15);
    }
  }

  &__title {
    font-size: 26px;
    font-weight: $bold;
    line-height: 1;

    @include mediaMinMax(1025, $normal) {
      font-size: vw-full(26);
    }
  }

  &__additional-info {
    min-width: 105px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    flex-grow: 0;
    flex-shrink: 1;
    align-items: flex-end;
    @include mediaMinMax(1025, $normal) {
      gap: vw-full(10);
    }
  }

  &__address {
    text-align: end;
    display: flex;
    gap: 5px;
  }

  &__description {
    margin: 0;
    -webkit-line-clamp: 3;
    font-size: 16px;
    font-weight: $light;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @include mediaMinMax(1025, $normal) {
      font-size: vw-full(16);
    }
  }

  &__link-company {
    text-align: end;
    color: #E33535;
    text-decoration: none;
    line-height: 1;
    font-size: 16px;
    font-weight: $medium;
    cursor: pointer;
    @include mediaMinMax(1025, $normal) {
      font-size: vw-full(16);
    }
  }
}
